@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.profile-bar{
  background-color: #3A4454;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-word{
  color:#e9e9e9;
  font-size: 1.5rem;
  font-family: 'Staatliches', cursive;
}
