.login-main{
  background-color: #3A4454;
  height: 100vh;
}

.login-box{
  background-color: #fff;
  padding: 20px;
}

.user-select-wrapper{
  overflow: hidden;
}

.user-select{
  transition: transform .2s;
}
